@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    color: rgb(40, 26, 7);
    background-color: rgb(229, 119, 119);
  }
}

@layer components {
  .menulink {
    @apply cursor-pointer hover:text-[#cscs];
  }

  .tags {
    background-color: rgb(245, 131, 45);
    margin-right: 0.5 rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: rgb(9, 8, 8);
    font-size: 22px;

  }

  .tags:last-child {
    margin-right: 0;

  }

  .tags:nth-child(2) {
    background-color: rgb(236, 230, 227);

  }
  .tags:nth-child(3) {
    background-color: rgb(5, 112, 21);

  }
  .tags:nth-child(3) {
    background-color: rgb(203, 174, 58);

  }

  }
